.App {
  text-align: center;
}

.header {
  background-color: #40a8c4;
  width: 100%;
  height: 60px;
  text-align: center;
}

.menu {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 17px;
  color: #07689f;
  font-size: 20px;
  font-family: arial;
  text-decoration: none;

}

.active_link {
  color: white;
}

.menu:hover {
  text-decoration: none;
  color: white;
  
}


.image {
  background: #e74c3c;
  background-image: url("./asset/ary.png");
  background-position: -30px -50px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.text{
  font-family: "Comic Sans MS", cursive, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  padding: 20px;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid rgba(124,133,230,0.68);
  border-radius: 0.6em;
  color: rgba(124,133,230,0.68);
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}

.first {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.first:hover {
  box-shadow: 0 0 40px 40px #e74c3c inset;
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-md-row {
  flex-direction: row !important;
}

.justify-content-md-between {
  justify-content: space-between !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.flex-grow-1 {
  flex-grow: 1 !important;
  padding: 1px;
}

.pad{
  padding-left: 15px;
}

.pad1{
  padding-top: 10px;
  padding-right: 10px;
}

.subheading {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.text-primary {
  color: #20206b !important;
}

.card{

  -webkit-box-shadow: 9px 7px 9px 1px rgba(124,133,230,0.68);
-moz-box-shadow: 9px 7px 9px 1px rgba(124,133,230,0.68);
box-shadow: 9px 7px 9px 1px rgba(124,133,230,0.68);
  
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}


.resume {
  margin-top: 2px;
  padding:0 100px;
}

h2{
  margin-left: 10px;
}

.icon {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

